body {
    background-color: #FFF2F2;
    font-family: 'Catamaran', sans-serif;
    color: #333;
}

table, th, td {
    border: 1px solid darkblue;
    border-collapse: collapse;
}

.main {
    width: 100%;
}

.row {
    height: 50px;
    text-align: center;
    background-color: #FFF2F2;

}

.heading {
    text-align: center;
    color: #1E2D78;
}

caption {
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: 2rem;
}
